.Button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preset_regular {
    background-color: var(--cl1);
    border: 0;
    padding: 10px 15px;
    border-radius: 10px;
    font: var(--font2-r);
}

.preset_red {
    @extend .preset_regular;
    background-color: var(--cl9);
    color: var(--cl0);
    font: var(--font2-r);
}

.preset_clear {
    do: do;
}

.Button:hover {
    opacity: var(--button-hover-opacity);
}

.Button:active {
    opacity: var(--button-active-opacity);
}

.Button:disabled {
    opacity: var(--button-disabled-opacity);
}
