.Text {
    font: var(--font1-b);
}

.preset_regular {
    font: var(--font2-r);
}

.preset_small {
    font: var(--font2-s);
}

.preset_subtitle {
    font: var(--font2-b);
}

.preset_title {
    font: var(--font2-l);
}

.preset_logo {
    font: var(--font1-r)
}

.mode_bold {
    font-weight: bold;
}

.mode_underscore {
    text-decoration: underline;
}
