.ModalWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cl0);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 5px 8px 0 rgba(#000, 0.25);
}
