.Attributes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.List {
    --gap: 20px;

    display: flex;
    flex-direction: column;
    gap: var(--gap);
    & > * {
        position: relative;
    }

    & > *::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: calc(var(--gap) / -2);
        width: 100%;
        height: 1px;
        background-color: var(--cl7);
    }

    & > *:last-child::after {
        display: none;
    }
}

.ListItem {
    display: flex;
    justify-content: space-between;
}

.Value {
    // display: inline-block;
    max-width: 50%;
    text-align: right;
    text-wrap: pretty;
    height: fit-content;
}
