.UserChangeAboutPanel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    margin-bottom: 5px;
}

.btn {
    width: fit-content;
    align-self: center;
}
