.CardProduct {
    background-color: var(--cl0);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
}

.CardProductWrapper {
    display: flex;
    padding: 8px 15px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    height: 100%;
    gap: 5px;
}

.CardProductImage {
    max-height: 250px;
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
}

.CardProductLink {
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: var(--cl3);
    bottom: 0;
    left: 0;
    padding: 8px 0;
}
