.CardProduct {
    background-color: var(--cl1);
    width: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.CardProductWrapper {
    display: flex;
    padding: 15px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    max-width: 250px;
    height: 100%;
}

.CardProductImage {
    max-height: 250px;
    object-fit: cover;
    width: 100%;
}

.CardProductPriceWrapper {
    do: do;
}

.CardProductLink {
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: var(--cl3);
    bottom: 0;
    left: 0;
    padding: 8px 0;
    // border-bottom-right-radius: 15px;
    // border-bottom-left-radius: 15px;
}
