.ProductsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--page_top_padding);
    padding-bottom: var(--page_bottom_padding);
    gap: 50px;
    width: 100%;
    min-height: var(--page_fullheight);
}

.ProductsPage > * {
    max-width: var(--max_page_width);
}
