.Text {
    font: var(--font1-b);
}

.preset_regular {
    font: var(--font2-r);
}

.preset_small {
    font: var(--font2-s);
}

.preset_subtitle {
    font: var(--font2-b);
}

.preset_title {
    font: var(--font2-l);
}

.preset_logo {
    font: var(--font1-r);
}

.mode_bold {
    font-weight: bold;
}

.mode_underscore {
    text-decoration: underline;
}

.mode_cross {
    text-decoration: line-through;
}

.color_cl0 {
    color: var(--cl0);
}

.color_cl1 {
    color: var(--cl1);
}

.color_cl2 {
    color: var(--cl2);
}

.color_cl3 {
    color: var(--cl3);
}

.color_cl4 {
    color: var(--cl4);
}

.color_cl5 {
    color: var(--cl5);
}

.color_cl6 {
    color: var(--cl6);
}

.color_cl7 {
    color: var(--cl7);
}

.color_cl8 {
    color: var(--cl8);
}

.color_cl9 {
    color: var(--cl9);
}
