.Input {
    padding: 12px 20px;
    font-size: 1rem;
    outline: none;
    font: var(--font2-r);
}

.preset_regular {
    border: 2px solid var(--cl2);
    border-radius: 5px;
    width: 100%;
    transition: border-color calc(var(--transition, 0.2) * 1s) ease;
}

.preset_regular:focus {
    border-color: var(--cl3);
}

.preset_clear {
    do: do;
}
