.Product {
    display: flex;
    gap: 20px;
    padding: 5px;
    width: 100%;
}

.Right {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.Description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Price {
    background-color: var(--cl8);
    padding: 10px;
    border-radius: 10px;
}

.PriceText {
    color: var(--cl0);
}