.DetailProductPage {
    display: flex;
    width: 100%;
    min-height: var(--page_fullheight);
    flex-direction: column;
    align-items: center;
}

.Container {
    width: 500px;
    height: 500px;
}