@import url("shared/themes/primary/styles/colors.scss");
@import url("shared/themes/primary/styles/fonts.scss");
@import url("shared/themes/primary/styles/styles.scss");
@import url("shared/themes/primary/styles/sizes.scss");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--cl5);
}

.App {
    do: do;
}
