.SmallLoader {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.light {
    border-top: 3px solid var(--cl0);
}

.dark {
    border-top: 3px solid var(--cl3);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
