.UserProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.UserProfile .avatar {
    width: 200px;
    height: 200px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    width: 100%;
}
