.PopupButton {
    display: flex;
    position: relative;
}

.button {
    cursor: pointer;
}

.content {
    background-color: #fff;
    position: absolute;
    // transition: opacity 800ms ease;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cl0);
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 5px 8px 0 rgba(#000, 0.25);
}