.ProductsList {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.LoadingList {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.List {
    display: flex;
    flex-wrap: wrap;
    gap: 35px 20px;
}

.Top {
    display: flex;
    flex-direction: column;
    justify-self: start;
    gap: 10px;
}

.Filter {
    display: flex;
}
