.Navbar {
    height: var(--navbar_height);
    width: 100%;
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cl3);
}

.NavbarContainer {
    max-width: var(--navbar_max_width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.NavbarLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavbarLeft:hover {
    opacity: var(--button-hover-opacity);
}

.NavbarLeft:active {
    opacity: var(--button-active-opacity);
}

.NavbarRight {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.NavbarRightItem {
    do: do;
}
